@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');

p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  font: normal 0.75em/1.5em "Elsie Swash Caps", cursive;
  color: #777;
  text-align: left;
}

.milk-text {
  font: bold 2.6em "Elsie Swash Caps", cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
}

#logo {
  background: aqua;
  font-family: "Elsie Swash Caps", cursive;
}

#details a:link, a:visited {
  color: black;
  text-decoration: none;
}
